/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

@import url(components/banner.css);
@import url(components/container.css);
@import url(components/button.css);
@import url(components/footer.css);
@import url(components/main.css);
@import url(components/text-center.css);
@import url(components/cards.css);
@import url(components/card.css);
@import url(components/footer-icons.css);

/* Utilities */

@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  margin: 0;
  font-family: Open Sans;
  background-color: #FAF9F6;
}

h1, h2, h3, h4, p, a {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
