.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/shop.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1, p {
  color: #FAF9F6;
}

.banner p {
  margin-bottom: 40px;
}
