.main h2  {
  color: #399DD4;
}

.main p, h3 {
  color: #FAF9F6;
}

img {
  border-color: #FAF9F6;
  border: 2px;
  border-style: solid;
  height: auto;
  width: 250px;
  border-radius: 50px;
}

.card {
  background-color: #399DD4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 25px;
  width: 250px;
}
